@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --green: rgba(210, 255, 152, 1);
    --darkgreen: rgba(87, 162, 116, 1);
    --white: rgba(255, 255, 255, 1);
    --grey: rgba(207, 207, 207, 1);
}

body {
    background: white;
}

*{
    font-size: "poppins";
    box-sizing: border-box;
    margin: 0px;
}

header {
    height: 4.5rem;
    background-color: rgba(210, 255, 152, 1);
    display: flex;
    margin: 0px;
    padding: 0px;
}
    
.title-button
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
    

.favourite{
    overflow-y: scroll;
    padding: 16px;
}

h1 {
    font-size: 32px;
    color: var(--darkgreen);
}

.curious-facts {
    width: 1200px;
    height: 300px;
    background-color: var(--grey);
    font-size: 20px;
    /*display: flex;
    align-items: center;
    justify-content: center;*/
}

.container-buttons {
    height: 100px;
    display: flex;
    justify-content: center; 
    gap: 10px;
}

.button-exploration {
    height: 50px;
    width: 150px;
    margin: 20px;
    color: var(--darkgreen);
    border-radius: 30px;
    border: var(--green);
    background: var(--green);
}

.button-favourite {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    margin: 20px;
    border: white;
    border-radius: 30px;
    background: white;
    text-decoration: none;
}

  
    
  





