@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --green: rgba(210, 255, 152, 1);
    --darkgreen: rgba(87, 162, 116, 1);
    --white: rgba(255, 255, 255, 1);
    --grey: rgba(207, 207, 207, 1);
}

body {
    background: white;
}

*{
    font-size: "poppins";
    box-sizing: border-box;
    margin: 0px;
}

header {
    height: 4.5rem;
    background-color: rgba(210, 255, 152, 1);
    display: flex;
    margin: 0px;
    padding: 0px;
}
    
.title-button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

.favourite{
    overflow-y: scroll;
    padding: 16px;
}

h3{
    font-size: 28px;
    color: var(--darkgreen);
}

.facts-favourites{
    background-color: var(--grey);
    height: 60px;
    gap: 16px;
}

footer{
    height: 2rem;
    background-color: var(--green);
    margin: 0px;
}

@media (max-width: 576px) {
    main {
     height: 80vh;
    }

    .title-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
   
  
    
  

}



